// -------------------------------------colors-------------------------------------
$color-red: #EA4335;
$color-lightBlue: #6FDAF2;
$secondColor-typography: #5F6368;
$color-white: #fff;
$color-black: #000;